<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>hello</h1>
    <h1><%=msg%></h1>

    <p><%=JSON.stringify(personnes)%> </p>

<form action="/personnes" method="delete">
    
    <input type="text" placeholder="nom" name="nom"> <br> <br>
    <input type="text" placeholder="prenom" name="prenom"> <br> <br>
    <input type="text" placeholder="Telephone" name="tel"> <br> <br>
   

    <br> 
 <input type="submit" value="Ajouter">
 <input type="reset" value="Annuler">

    
</form>

<hr>
<input type="text" placeholder="search here">
<form action="/personnes" method="post">

    <table>
        <tr>
            <th>nom </th>
            <th>prenom</th>
            <th>Telephone</th>
            <th>delete</th>
        </tr>
   <%=long%>
        <% for(var i=0; i   < long ; i++)  {%>
        <tr>
            <td>
                <%= JSON.stringify(personnes[i].nom).replace(/"/g,'') %>
            </td>
           

            <td>
                <%= JSON.stringify(personnes[i].prenom).replace(/"/g,'')%>
            </td>
            <td>
                <%= JSON.stringify(personnes[i].tel).replace(/"/g,'')%>
            </td>
        

            <td>
                <form action="/deletePersonne" method="post">
                    <input type="text" name="id" value="<%= JSON.stringify(personnes[i].id).replace(/"/g,'') %>" hidden>
                </input>
                    <input type="submit" value="Delete" />
                </form>

            </td>

        </tr>
        <% } %>

    </table>
</form>
</body>

</html>
